<div
  class="w-full h-full relative flex flex-col gap-6 justify-center items-center"
>
  <!-- Actual reset form -->
  <div
    [formGroup]="resetForm"
    class="min-w-[calc(70%)] flex flex-col justify-center gap-4 items-center"
  >
    <img src="../../../../assets/images/lock.svg" alt="lock" />
    <h3 class="text-primary font-bold text-4xl text-center">
      Set new password
    </h3>
    <p class="w-full text-xs text-page-grey text-center">
      Your new password must be different to <br />
      previously used passwords.
    </p>

    <div class="w-full flex flex-col justify-between my-2 gap-2 items-start">
      <label class="text-sm text-label font-medium" for="password"
        >Password*</label
      >
      <input
        class="drop-shadow-md rounded-lg h-12 p-3 w-full border-1 border-border-input"
        type="password"
        id="password"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>
    <div class="w-full flex flex-col justify-between my-2 gap-2 items-start">
      <label class="text-sm text-label font-medium" for="confirm-password"
        >Confirm Password*</label
      >
      <input
        class="drop-shadow-md rounded-lg h-12 p-3 w-full border-1 border-border-input"
        type="password"
        id="confirm-password"
        placeholder="Confirm new password"
        formControlName="confirmpassword"
      />
    </div>
    <button
      (click)="onClickReset()"
      [class.disabled]="!resetForm.valid"
      class="drop-shadow-md w-full flex justify-center items-center bg-button-blue text-white my-4 rounded-lg h-12 py-3 px-5 text-center"
    >
      <svg
        *ngIf="formLoading"
        class="animate-spin bg-white h-5 w-5"
        viewBox="0 0 24 24"
      ></svg>
      <span *ngIf="!formLoading">Reset password</span>
    </button>

    <a
      href="#"
      class="text-page-grey text-sm font-medium w-full text-center mt-2 flex justify-center items-center gap-1"
    >
      <img src="../../../../assets/images/arrow-left.svg" alt="arrow" />Back to
      log in</a
    >
  </div>
  <div
    class="w-full absolute bottom-0 flex justify-between items-center text-xs md:text-sm font-normal text-page-grey"
  >
    <p>©2024 Emmanuel Obi</p>
    <a
      href="mailto:obiemmy123@gmail.com"
      class="flex justify-between items-center gap-1"
    >
      <img src="../../../../assets/images/mail.svg" alt="mail" />
      help&#64;engineeringteam.dev</a
    >
  </div>
</div>
