<div class="w-full h-full flex flex-col gap-6 justify-between items-center">
  <!-- Actual login form -->
  <div
    class="min-w-[calc(70%)] mt-10 flex flex-col justify-center gap-4 items-center"
  >
    <img src="../../../../assets/images/success.svg" alt="success" />
    <h3 class="text-primary font-bold text-4xl text-center">Password reset</h3>
    <p class="w-full text-xs text-page-grey text-center">
      Your password has been successfully reset. <br />
      Click below to log in magically.
    </p>

    <a
      href="/dashboard"
      class="drop-shadow-md w-full bg-button-blue text-white my-4 rounded-lg h-12 py-3 px-5 text-center"
    >
      Continue
    </a>

    <a
      href="/auth/login"
      class="text-page-grey text-sm font-medium w-full text-center mt-2 flex justify-center items-center gap-1"
    >
      <img src="../../../../assets/images/arrow-left.svg" alt="arrow" />Back to
      log in</a
    >
  </div>
  <div
    class="w-full flex justify-between items-center text-xs md:text-sm font-normal text-page-grey"
  >
    <p>©2024 Emmanuel Obi</p>
    <a
      href="mailto:obiemmy123@gmail.com"
      class="flex justify-between items-center gap-1"
    >
      <img src="../../../../assets/images/mail.svg" alt="mail" />
      help&#64;engineeringteam.dev</a
    >
  </div>
</div>
